---
import Navbar from "../components/navbar.astro";
import Layout from "../layouts/Layout.astro";
import BlogPostLink from "../components/blog-post-link.astro";
---

<Layout title="hclanka | blog" />
<Navbar />

<div class="flex items-center justify-center flex-col mt-10">
  <h1 class="text-3xl mb-10">Blog Posts</h1>
  <BlogPostLink
    link="/posts/django-vs-flask"
    blog_title="Django VS Flask"
    blog_posted_date="24th Nov, 2023"
  />
  <BlogPostLink
    link="/posts/first-post"
    blog_title="First Blog Post"
    blog_posted_date="6th Sept, 2023"
  />
</div>
